@import 'partials/_vars';


img{
    height: 60px;
}

nav{
    background-color: $darkGray;
    color: white;
    height: 80px;
}
.navbar-nav .nav-link {
    color: white;
}


#nav-link:hover, #nav-link:focus {
    color: $logo-color;
}

.my-badge{
    background-color: $logo-color;
}

.nav-link-out{
    color: rgb(161, 161, 161);
}
a{
    font-size: 1rem;
    font-weight: bold;
}
#navbarDropdown:hover, #navbarDropdown:focus{
    color: $logo-color;

}

 .navbar-nav #nav-link.active, .navbar-nav #nav-link.show {
    color:  $logo-color;
    padding-bottom: 20px;
   /*  border-bottom: 3px solid  $logo-color; */
} 

.navbar-nav #nav-link.active::after,
.navbar-nav #nav-link.show::after {
    content: ""; /* Aggiungi un contenuto vuoto */
    display: block;
    width: 70%; /* Larghezza del bordo inferiore al 70% del link */
    height: 3px; /* Altezza del bordo inferiore (spessore) */
    background-color: $logo-color; /* Colore del bordo inferiore */
    margin: 0 auto; /* Centra il bordo inferiore orizzontalmente */
    margin-bottom: -24px;
    margin-top: 17px;
}


.navbar-nav li{
    width: 120px;
    text-align: center;
}
