@use "show";
@use "register";

@import '~bootstrap/scss/bootstrap';

#autocomplete {
    position: absolute;
    z-index: 1;
}

#autocomplete div {
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

.invalidField {
    margin: 0px;
    padding: 0px;
}